/* spinner.component.css */
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* Add a semi-transparent overlay */
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-container {
  text-align: center;
}
