<div class="container" [formGroup]="vatForm">
  <br>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>VAT Calculator</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card>
    <mat-card-content style="display: flex; flex-direction: column">
      <mat-form-field>
        <mat-label>Select Country</mat-label>
        <mat-select placeholder="Country" formControlName="country" (selectionChange)="loadVatRates()">
          <mat-option *ngFor="let country of countries$ | async" [value]="country.code">
            {{ country.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select Rate</mat-label>
        <mat-select formControlName="vatRate" (selectionChange)="vatRatesChanged()">
          <ng-container *ngFor="let vatRate of vatRates$ | async as vatRates">
            <ng-container *ngIf="vatRate.name === 'Reduced' || vatRate.name === 'Standard'">
              <mat-option *ngFor="let rate of vatRate.rates" [value]="rate">
                {{ rate }}%
              </mat-option>
            </ng-container>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Net Amount</mat-label>
        <input matInput formControlName="netAmount" type="number" step="0.01" (input)="vatValuesChanged('netAmount')">
        <mat-error
          *ngIf="vatForm.get('netAmount')?.hasError('pattern')">
          Please enter valid format.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>VAT Amount</mat-label>
        <input matInput formControlName="vatAmount" type="number" step="0.01" (input)="vatValuesChanged('vatAmount')">
        <mat-error
          *ngIf="vatForm.get('vatAmount')?.hasError('pattern')">
          Please enter valid format.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Gross Amount</mat-label>
        <input matInput formControlName="grossAmount" type="number" step="0.01" (input)="vatValuesChanged('grossAmount')">
        <mat-error
          *ngIf="vatForm.get('grossAmount')?.hasError('pattern')">
          Please enter valid format.
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="vatForm.hasError('atLeastOneRequired') && (vatForm.get('netAmount')?.touched || vatForm.get('grossAmount')?.touched || vatForm.get('vatAmount')?.touched)">
        At least one of Net Amount, VAT Amount, or Gross Amount is required.
      </mat-error>
    </mat-card-content>
  </mat-card>
  <br>
</div>
